<h2>Por region</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <button class="btn mx-2" *ngFor="let region of regions"
      [ngClass]="{'btn-outline-primary': selectedRegion === region}" (click)="searchByRegion(region)">
      {{region}}
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    @if(isLoading){
    <shared-loading-spinner></shared-loading-spinner>
    }
    @else{
    <countries-table [countries]="countries"></countries-table>
    }
  </div>
</div>
