<h2>Por pais</h2>
<hr>
<div class="row">
  <div class="col">
    <!-- search box -->
    <shared-search-box
    placeholder="Buscar por country"
     (onTuboDeAgua)="searchByCountry($event)"
     [initialValue]="initialValue"
     ></shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col">
    @if(isLoading){
      <shared-loading-spinner></shared-loading-spinner>
    }
    @else{
      <countries-table [countries]="countries"></countries-table>
    }

    <mono-flag></mono-flag>
  </div>
</div>
