.spinner-container{
  align-items: center;
  background-color: black;
  bottom: 15px;
  color: white;
  padding: 5px 10px;
  position: fixed;
  right: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #000;
}

span{
  margin-left: 5px;
}
